<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!-- The mapping for the default servlet -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DatabaseAccess</display-name>
		<servlet-name>DatabaseAccess</servlet-name>
		<servlet-class>com.runoob.test.DatabaseAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatabaseAccess</servlet-name>
		<url-pattern>/TomcatTest/DatabaseAccess</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ajaxTest</display-name>
		<servlet-name>ajaxTest</servlet-name>
		<servlet-class>test.ajaxTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajaxTest</servlet-name>
		<url-pattern>/TomcatTest/ajaxTest</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.runoob.test.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/TomcatTest/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CurrentDate</servlet-name>
		<servlet-class>com.runoob.test.CurrentDate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CurrentDate</servlet-name>
		<url-pattern>/TomcatTest/CurrentDate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageRedirect</servlet-name>
		<servlet-class>PageRedirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageRedirect</servlet-name>
		<url-pattern>/TomcatTest/PageRedirect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Refresh</servlet-name>
		<servlet-class>com.runoob.test.Refresh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Refresh</servlet-name>
		<url-pattern>/TomcatTest/Refresh</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>hitCount</servlet-name>
		<jsp-file>/WEB-INF/jsp/hitCount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>hitCount</servlet-name>
		<url-pattern>/hitCount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload</servlet-name>
		<jsp-file>/WEB-INF/jsp/upload.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>date</servlet-name>
		<jsp-file>/WEB-INF/jsp/date.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>date</servlet-name>
		<url-pattern>/date</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dateTime</servlet-name>
		<jsp-file>/WEB-INF/jsp/dateTime.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>dateTime</servlet-name>
		<url-pattern>/dateTime</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showDBTest</servlet-name>
		<jsp-file>/WEB-INF/jsp/showDBTest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>showDBTest</servlet-name>
		<url-pattern>/showDBTest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DynamicElement</servlet-name>
		<jsp-file>/WEB-INF/jsp/DynamicElement.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>DynamicElement</servlet-name>
		<url-pattern>/DynamicElement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>forLoop</servlet-name>
		<jsp-file>/WEB-INF/jsp/forLoop.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>forLoop</servlet-name>
		<url-pattern>/forLoop</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForwardTest</servlet-name>
		<jsp-file>/WEB-INF/jsp/ForwardTest.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardTest</servlet-name>
		<url-pattern>/ForwardTest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>getListByPOST</servlet-name>
		<jsp-file>/WEB-INF/jsp/getListByPOST.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>getListByPOST</servlet-name>
		<url-pattern>/getListByPOST</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>